<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610784632615-d4o98v8cmjohgvre3eh6n3t7r8d9qrlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610784632615-d4o98v8cmjohgvre3eh6n3t7r8d9qrlj</string>
	<key>API_KEY</key>
	<string>AIzaSyAILFtfXQyAHHqPtub7idMZc24XVNi1Bvw</string>
	<key>GCM_SENDER_ID</key>
	<string>610784632615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alan.NewsNest</string>
	<key>PROJECT_ID</key>
	<string>news-nest-38ace</string>
	<key>STORAGE_BUCKET</key>
	<string>news-nest-38ace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610784632615:ios:1467efcb8156c77cf45302</string>
</dict>
</plist>